.container {
  overflow-y: auto;

  display: flex;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 100vh;

  padding-block-start: 10rem;
  padding-block-end: 3rem;

  form {
    background-color: var(--color-background-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40rem;

    padding: 1rem;

    border-radius: var(--border-radius-4);

    img {
      width: 28rem;
    }

    & > div {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      width: 100%;

      padding-block: 0.7rem;

      label {
        width: 100%;
        max-width: 30rem;

        span {
          color: var(--color-gray-text);

          font-size: 1.4rem;
        }

        input {
          width: 100%;
          height: 4.2rem;

          padding: 1rem;

          border: 0.2rem solid transparent;
          border-radius: var(--border-radius-4);

          outline: none;

          &:focus {
            border-color: var(--color-primary);
          }
        }

        .info {
          color: var(--color-error);
        }
      }

      app-button {
        color: var(--color-gray-text);

        justify-content: center;

        width: 100%;
        max-width: 30rem;

        padding-block: 2rem;
      }
    }

    .footer {
      color: var(--color-gray-text);

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.6rem;

      font-size: 1.4rem;

      button {
        background-color: transparent;
        color: var(--color-primary);

        padding: 0.2rem;

        border: none;

        font-size: 1.4rem;

        cursor: pointer;
      }
    }
  }
}
