.container {
  position: relative;

  padding: 3rem 2rem;

  .slideshow {
    overflow: hidden;

    display: flex;

    .slide {
      flex: 0 0 100%;

      position: relative;

      transform: translateX(calc(var(--active-index) * 100%));

      transition: transform 0.3s ease-in-out;

      img {
        width: 100%;
        height: auto;
      }

      .name {
        color: var(--color-gray-98);

        position: absolute;
        inset-block-end: 1vw;
        inset-inline-end: 2vw;

        font-size: 4vw;

        text-shadow: 0 0 1rem var(--color-gray-10);
        text-transform: capitalize;
      }
    }
  }

  .overlay {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 5rem;

    display: flex;
    align-items: end;
    gap: 0.4em;

    height: 100%;

    padding-block-end: 5rem;

    font-size: 2rem;

    li {
      cursor: pointer;
      user-select: none;
    }

    .bullets {
      color: var(--color-gray-98);

      text-shadow: 0 0 0.2rem var(--color-gray-10);

      &:hover {
        transform: scale(1.1);

        transition-duration: 0.1s;
      }
    }
  }
}

.active {
  transform: translate(0);
}
