article {
  background-color: var(--color-background-light);

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;

  max-width: 40rem;

  padding: 1rem;

  border: 0.1rem solid var(--color-border);
  border-radius: 0.8rem;

  transition-duration: 0.2s;

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0.4rem var(--color-primary);

    border-color: transparent;

    transform: translateY(-0.2rem);

    transition-duration: 0.4s;
  }

  .main-content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    max-width: 100%;

    padding-inline: 1rem;

    h2 {
      color: var(--color-gray-text);

      overflow: hidden;

      font-size: 1.8rem;
      font-weight: 600;

      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    p {
      color: hsl(0deg 0% 79%);

      overflow: hidden;

      display: -webkit-box;

      font-size: 1.4rem;

      text-overflow: ellipsis;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .tags {
      direction: ltr;

      display: flex;
      gap: 0.6rem;

      padding-block-start: 1.5rem;

      .tag {
        background-color: var(--color-background);
        color: var(--color-gray-text);

        display: flex;
        align-items: center;
        justify-content: center;

        height: 2rem;

        padding-block-end: 0.2rem;
        padding: 0.4rem;

        line-height: 0.5;
      }
    }

    .info {
      color: var(--color-green);

      padding-block-start: 1.5rem;

      font-size: 1.4rem;
    }
  }

  img {
    flex-shrink: 0;

    width: 18rem;
    aspect-ratio: 1 / 1;
  }
}

@media only screen and (min-width: 430px) {
  article {
    width: 20rem;
  }
}

@media only screen and (min-width: 600px) {
  article {
    flex-direction: row;

    width: 40rem;

    .main-content {
      max-width: 50%;
    }
  }
}
