article {
  width: 20rem;

  .card {
    position: relative;

    transition-duration: 500ms;

    .back {
      color: hsl(140deg 50 40);
      opacity: 0;

      position: absolute;
      inset-block-start: 0;

      display: none;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      transition: 2s;
      transition-property: opacity;
    }

    .front {
      font-size: 1.6rem;

      > .title {
        color: hsl(0deg 100 100);

        position: absolute;
        inset-block-start: 0;

        display: flex;
        align-items: start;
        justify-content: center;

        width: 100%;
        height: auto;

        padding-block-start: 1rem;

        transform: translateY(18rem);

        text-shadow: 0 0 2rem hsl(0deg 0 0);
      }

      img {
        box-shadow: 0 0 0.3rem var(--free);

        width: 100%;
      }
    }
  }

  &:hover {
    .card {
      transform: rotateY(180deg);

      .back {
        opacity: 1;

        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 1rem;

        padding: 1rem;

        transform: rotateY(180deg);

        transition-delay: 1s;
        transition-duration: 1.2s;
        transition-property: opacity;
      }

      .front {
        .title {
          transform: rotateY(180deg);

          font-size: 2rem;

          text-shadow: 0.1rem 0 0.1rem hsl(0deg 0 0),
            -0.1rem 0 0.1rem hsl(0deg 0 0), 0 0.1rem 0.1rem hsl(0deg 0 0),
            0 -0.1rem 0.1rem hsl(0deg 0 0);

          transition-delay: 0.3s;
          transition-duration: 0.5s;
        }

        img {
          filter: blur(0.2rem);

          transform: scale(1.1);

          transition-duration: 1.2s;
        }
      }
    }
  }
}
