.container {
    container-type: inline-size;

    .card {
        background-color: var(--color-background-light);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        padding: 1rem;

        border: 0.1rem solid var(--color-border);
        border-radius: var(--border-radius-4);

        transition-duration: var(--animation-time-2);

        cursor: pointer;

        &:hover {
            background-color: var(--color-background-lighter);

            border-color: transparent;

            transform: translateY(-0.2rem);

            transition-duration: var(--animation-time-4);
        }

        .main-content {
            flex-grow: 1;

            overflow: auto;

            display: flex;
            flex-direction: column;

            max-width: 100%;

            padding-inline: 1rem;

            h2 {
                color: var(--color-gray-text);

                direction: ltr;

                overflow: hidden;

                font-size: 1.8rem;
                font-weight: bold;

                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            p {
                color: var(--color-gray-text-darker);

                overflow: hidden;

                display: -webkit-box;

                font-size: 1.4rem;

                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .tags {
                direction: ltr;

                display: flex;
                gap: 0.6rem;

                padding-block-start: 1.5rem;

                .tag {
                    background-color: var(--color-background);
                    color: var(--color-gray-text);

                    display: grid;
                    place-content: center;

                    height: 2rem;

                    padding-block-end: 0.2rem;
                    padding: 0.4rem;

                    line-height: 0.5;
                }
            }

            .info {
                color: var(--color-green);

                padding-block-start: 1.5rem;

                font-size: 1.4rem;
            }
        }

        img {
            flex-shrink: 0;

            width: 16rem;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

        &.skeleton {
            .main-content {
                > * {
                    color: var(--color-background-light);

                    position: relative;

                    &::after {
                        content: "";

                        background-image: var(--linear-gradient-skeleton);
                        background-repeat: no-repeat;
                        background-size: 400% 100%;

                        position: absolute;
                        inset: 0.2rem 0;

                        animation-duration: 1.4s;
                        animation-iteration-count: infinite;
                        animation-name: loading;
                        animation-timing-function: ease;
                    }
                }

                h2 {
                    position: relative;

                    &::after {
                        inset-inline-start: 8rem;
                    }
                }
            }

            .image-container {
                position: relative;

                img {
                    opacity: 0;
                }

                &::after {
                    content: "";

                    background-image: var(--linear-gradient-skeleton);
                    background-repeat: no-repeat;
                    background-size: 200% 100%;

                    position: absolute;
                    inset: 0.2rem 0;

                    animation-duration: 1.4s;
                    animation-iteration-count: infinite;
                    animation-name: loading;
                    animation-timing-function: ease;
                }
            }
        }
    }

    @container (width > 300px) {
        .card.card.card {
            flex-direction: row-reverse;
        }
    }
}

@keyframes loading {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}
