<footer>
    <div class="main">
        <section class="list">
            <div>
                <h3>آخرین آمار</h3>
                <ul>
                    <li>تعداد بازی‌ها: <span>162</span></li>
                    <li>تعداد اعضای وب‌سایت: <span>627</span></li>
                    <li>تعداد دانلودهای ماه: <span>2954</span></li>
                    <li>بازدیدهای امروز: <span>196</span></li>
                </ul>
            </div>

            <div>
                <h3>وب‌سایت</h3>
                <ul>
                    <li>درباره ما</li>
                    <li>ارتباط با ما</li>
                    <li>وبلاگ</li>
                    <li>انجمن</li>
                </ul>
            </div>

            <div>
                <h3>خدمات</h3>
                <ul>
                    <li>پشتیبانی</li>
                    <li>تیکت</li>
                    <li>سوالات پرتکرار</li>
                </ul>
            </div>

            <div>
                <div class="social-media">
                    <h3>شبکه‌های اجتماعی</h3>

                    <ul>
                        <li>
                            <img src="assets/logos/social-media/instagram.svg" alt="instagram" title="Instagram" />
                        </li>
                        <li>
                            <img src="assets/logos/social-media/telegram.svg" alt="telegram" title="Telegram" />
                        </li>
                        <li>
                            <img src="assets/logos/social-media/linkedin.svg" alt="instagram" title="Linkedin" />
                        </li>
                        <li>
                            <img src="assets/logos/social-media/soroush.svg" alt="soroush" title="Soroush" />
                        </li>
                    </ul>
                </div>

                <div class="sign-up">
                    <button>ثبت نام در Squid Game</button>
                </div>
                <div class="github">
                    <img src="assets/logos/social-media/github.svg" alt="github" title="Github" />
                </div>
            </div>
        </section>

        <section class="copyright">
            تمام حقوق این وب سایت متعلق به Squid Game می‌باشد و استفاده از فایل ها با ذکر منبع مجاز می‌باشد.
        </section>
    </div>
</footer>
