<footer>
  <div class="banner">
    <img src="assets/logos/logo.svg" alt="squid game logo" />
    <p>
      به روز رسانی فوری بازی ها پس از انتشار سازنده - تحلیل، بررسی و فروش تخصصی
      انواع بازی برای کنسول های مختلف - دارای فروم و گروه های تخصصی برای هر بازی
      به صورت مجزا
    </p>
  </div>
  <div class="main">
    <div class="top">
      <div>
        <h3>آخرین آمار</h3>
        <ul>
          <li>تعداد بازی ها: <span>162</span></li>
          <li>تعداد اعضای وب سایت: <span>627</span></li>
          <li>تعداد دانلودهای ماه: <span>2954</span></li>
          <li>بازدید های امروز: <span>196</span></li>
        </ul>
      </div>
      <div>
        <h3>وب سایت</h3>
        <ul>
          <li>درباره ما</li>
          <li>ارتباط با ما</li>
          <li>وبلاگ</li>
          <li>انجمن</li>
        </ul>
      </div>
      <div>
        <h3>خدمات</h3>
        <ul>
          <li>پشتیبانی</li>
          <li>تیکت</li>
          <li>سوالات پرتکرار</li>
        </ul>
      </div>
      <div>
        <div class="social">
          <h3>شبکه های اجتماعی</h3>
          <ul>
            <li>
              <img
                src="assets/logos/social/instagram.svg"
                alt="instagram"
                title="Instagram"
              />
            </li>
            <li>
              <img
                src="assets/logos/social/telegram-plane.svg"
                alt="telegram"
                title="Telegram"
              />
            </li>
            <li>
              <img
                src="assets/logos/social/linkedin-in.svg"
                alt="instagram"
                title="Linkedin"
              />
            </li>
            <li>
              <img
                src="assets/logos/social/soroush.svg"
                alt="soroush"
                title="Soroush"
              />
            </li>
          </ul>
        </div>
        <div class="sign-in">
          <button>ثبت نام در Squid Game</button>
          <img
            src="assets/logos/social/github.svg"
            title="Github"
            alt="github"
          />
        </div>
      </div>
    </div>
    <div class="copyright">
      تمام حقوق این وب سایت متعلق به Squid Game می‌باشد و استفاده از فایل ها با
      ذکر منبع مجاز می‌باشد.
    </div>
  </div>
</footer>
