footer {
  color: var(--color-gray-text);

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding-block: 2rem;
  padding-inline: 1rem;

  .banner {
    background-color: var(--color-background-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    padding: 2rem;

    border: 0.1rem solid var(--color-border);
    border-radius: 0.4rem;

    img {
      width: auto;
      height: 7.5rem;
    }

    p {
      max-width: 100rem;

      font-size: 1.6rem;
    }
  }

  .main {
    background-color: var(--color-background-light);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-block-end: 2rem;

    border: 0.1rem solid var(--color-border);
    border-radius: 0.4rem;

    .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;

      padding: 1rem;

      > div {
        display: flex;
        flex-direction: column;

        h3 {
          padding: 1rem;

          font-size: 1.8rem;
          font-weight: bold;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          padding: 1rem;

          li {
            font-size: 1.4rem;

            span {
              font-weight: bold;
            }
          }
        }
      }

      .social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      .sign-in {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.4rem;

        padding: 1rem;

        button {
          background-color: var(--color-primary);
          color: var(--color-gray-text);

          gap: 0.4rem;

          padding-block: 0.6rem;
          padding-inline: 1.2rem;

          border: 1px solid var(--color-primary);

          font-size: 1.6rem;
        }

        img {
          width: 3rem;
          aspect-ratio: 1 / 1;
        }
      }
    }

    .copyright {
      padding: 1rem;

      font-size: 1.4rem;
      font-weight: bold;

      text-align: center;
    }
  }
}

@media only screen and( min-width:600px) {
  footer {
    padding-inline: var(--margin-main-sides);

    .banner {
      flex-direction: row;
    }
  }
}
