<header>
  <div class="logo-side">
    <app-side-menu
      [isOpen]="isOpenSideMenu"
      (toggleOpen)="handleToggleOpen($event)"
    ></app-side-menu>

    <img src="../../../assets/logos/squid-game-logo.svg" alt="logo" />
    <app-nav></app-nav>
  </div>
  <div class="avatar-side">
    <app-search-box></app-search-box>
    <ng-container *ngIf="authService.cachedIsLoggedIn; else loginButton">
      <app-avatar></app-avatar>
    </ng-container>
    <ng-template #loginButton>
      <button
        class="login-or-register-btn"
        (click)="router.navigateByUrl('/auth')"
      >
        ورود / ثبت نام
      </button>
    </ng-template>
  </div>
</header>
