header {
  background-color: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  height: 9rem;

  padding-inline: 1rem;

  .logo-side {
    display: flex;
    align-items: center;
    gap: 3rem;

    height: 100%;

    padding-block: 2rem;

    img {
      width: auto;
      height: 4rem;
    }
  }

  .avatar-side {
    display: flex;
    align-items: center;
    gap: 3rem;

    height: 100%;

    .login-or-register-btn {
      background-color: transparent;
      color: var(--color-gray-text);

      font-size: 1.4rem;

      cursor: pointer;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  app-search-box {
    display: none;
  }

  app-nav {
    display: none;
  }
}

@media only screen and (min-width: 720px) {
  header {
    padding-inline: var(--margin-main-sides);
  }

  app-search-box {
    display: block !important;
  }

  app-nav {
    display: block !important;
  }
}
