<app-header></app-header>
<main>
    <aside>
        <h2>فیلترها</h2>
        <app-switch title="فقط بازی های رایگان" (changeState)="handleSearchChange('only_free', $event)"></app-switch>
        <app-collapsible-selection-list
            title="ژانر‌"
            [selectList]="['معمایی', 'استراتژیک', 'اکشن']"
            (changeActive)="handleSearchChange('genre', $event)"
        ></app-collapsible-selection-list>
        <app-collapsible-selection-list
            title="پلتفورم"
            [selectList]="['PC (Windows)', 'Web Browser']"
            (changeActive)="handleSearchChange('platform', $event)"
        ></app-collapsible-selection-list>
        <app-collapsible-selection-list
            title="توسعه‌دهنده"
            [selectList]="['Doobic Studios', 'Yager Development', 'MercurySteam', 'Tencent Games']"
            (changeActive)="handleSearchChange('developer', $event)"
        ></app-collapsible-selection-list>
    </aside>
    <section>
        <header>
            <i class="fa-regular fa-arrow-down-wide-short"></i>
            <span> مرتب سازی: </span>

            <ul>
                <li
                    class="active"
                    [class.active]="gameService.gameSearchParams.order === 'popular'"
                    (click)="handleSearchChange('order', 'popular')"
                >
                    <button>محبوب‌ترین</button>
                </li>
                <li [class.active]="gameService.gameSearchParams.order === 'newest'">
                    <button (click)="handleSearchChange('order', 'newest')">جدیدترین</button>
                </li>
                <li [class.active]="gameService.gameSearchParams.order === 'cheapest'">
                    <button (click)="handleSearchChange('order', 'cheapest')">ارزانترین</button>
                </li>
                <li [class.active]="gameService.gameSearchParams.order === 'expensive'">
                    <button (click)="handleSearchChange('order', 'expensive')">گرانترین</button>
                </li>
            </ul>

            <span class="total-result">{{ gameService.searchedGames.length }} بازی</span>
        </header>
        <main class="cards">
            <app-home-card *ngFor="let game of gameService.searchedGames" [game]="game"> </app-home-card>
        </main>
    </section>
</main>
<app-footer></app-footer>
