nav {
  color: var(--color-gray-98);

  height: 6.4rem;

  ul {
    display: flex;
    gap: 0.4rem;

    height: 100%;

    li {
      display: flex;
      align-items: center;

      height: 100%;

      a {
        color: var(--color-gray-98);

        display: flex;
        align-items: center;

        height: 100%;

        padding-inline: 1.4rem;

        &:hover {
          background-color: var(--color-gray-98);
          color: var(--color--primary-darker);

          text-shadow: 0 0.5rem 1rem var(--color--primary-lighter);
        }
      }
    }
  }
}

.active {
  background-color: var(--color-gray-98);
  color: var(--color--primary-darker) !important;
}
