button {
  background-color: var(--color-gray-98);

  display: flex;
  align-items: baseline;
  justify-content: inherit;
  gap: 0.4rem;

  width: 100%;

  padding: 0.4em 0.6em;

  border: 0.1rem solid var(--color--primary);
  border-radius: 0.4rem;

  font-size: 1.4rem;

  cursor: pointer;

  &:hover {
    background-color: var(--color--primary);
    color: var(--color-gray-98);
    box-shadow: -0.1rem 0.1rem 0.4rem hsl(0deg 0% 50%);
  }

  &.primary {
    background-color: var(--color--primary);
    color: var(--color-gray-98);
  }
}

.small {
  font-size: 1.2rem;
}
