.banner {
  width: 100%;

  padding: 2rem;
}

.container {
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 2rem;
}

.heading {
  color: var(--color-gray-80);

  padding: 2rem;
}

main {
  padding: 1rem;
}
