<app-header></app-header>
<main>
  <img class="banner" src="assets/images/csgo.jpg" alt="banner" />

  <h2 class="heading">پر طرفدار ترین ها</h2>
  <section class="container">
    <app-home-card
      *ngFor="let game of games"
      [img]="game.img"
      [name]="game.name"
      [pay]="game.pay"
      [price]="game?.price"
    ></app-home-card>
  </section>
  <h2 class="heading">پرفروش ترین ها</h2>
  <section class="container">
    <ng-container *ngFor="let game of games">
      <app-home-card
        *ngIf="game.pay === 'pay'"
        [img]="game.img"
        [name]="game.name"
        [pay]="game.pay"
        [price]="game.price"
        buttonIconClass="far fa-buy"
      ></app-home-card>
    </ng-container>
  </section>
</main>
<app-footer></app-footer>
