.side-menu {
  --display: none;
  background-color: var(--color-background-light);

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 1;

  display: var(--display);
  flex-direction: column;

  width: 20rem;
  height: 100vh;

  padding: 1rem;

  border-inline-end: 0.1rem solid var(--color-border);

  i {
    color: var(--color-gray-text);

    padding-block-start: 2rem;

    font-size: 3rem;

    cursor: pointer;
  }

  app-nav {
    display: block;

    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .side-menu {
    display: none;
  }
}
