html {
  background-color: var(--color-gray-10);

  font-family: Vazirmatn, sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --primary-hue: 220;
  --secondary-hue: 260;
  --success-hue: 120;
  --warning-hue: 20;
  --danger-hue: 0;

  --color-gray-98: hsl(0deg 0% 98%);
  --color-gray-90: hsl(0deg 0% 90%);
  --color-gray-80: hsl(0deg 0% 80%);
  --color-gray-70: hsl(0deg 0% 70%);
  --color-gray-40: hsl(0deg 0% 40%);
  --color-gray-30: hsl(0deg 0% 30%);
  --color-gray-20: hsl(0deg 0% 20%);
  --color-gray-10: hsl(0deg 0% 10%);

  --color--default-background: var(--color-gray-98);
  --color--default-foreground: var(--color-gray-10);

  --color--primary: hsl(var(--primary-hue) 100% 56%);
  --color--primary-fade: hsl(var(--primary-hue) 100% 96%);
  --color--primary-lighter: hsl(var(--primary-hue) 100% 60%);
  --color--primary-darker: hsl(var(--primary-hue) 100% 52%);
  --color--primary-opposite: var(--color-gray-98);

  --color--secondary: hsl(var(--secondary-hue) 50% 50%);
  --color--secondary-fade: hsl(var(--secondary-hue) 100% 90%);
  --color--secondary-lighter: hsl(var(--secondary-hue) 50% 56%);
  --color--secondary-darker: hsl(var(--secondary-hue) 50% 44%);
  --color--secondary-opposite: var(--color-gray-98);

  --color--warning: hsl(var(--warning-hue) 100% 44%);
  --color--warning-fade: hsl(var(--warning-hue) 100% 90%);
  --color--warning-lighter: hsl(var(--warning-hue) 100% 50%);
  --color--warning-darker: hsl(var(--warning-hue) 100% 40%);
  --color--warning-opposite: var(--color-gray-98);

  --color--success: hsl(var(--success-hue) 100% 40%);
  --color--success-fade: hsl(var(--success-hue) 100% 92%);
  --color--success-lighter: hsl(var(--success-hue) 100% 44%);
  --color--success-darker: hsl(var(--success-hue) 100% 36%);
  --color--success-opposite: var(--color-gray-98);

  --color--danger: hsl(var(--danger-hue) 100% 36%);
  --color--danger-fade: hsl(var(--danger-hue) 100% 90%);
  --color--danger-lighter: hsl(var(--danger-hue) 100% 42%);
  --color--danger-darker: hsl(var(--danger-hue) 100% 30%);
  --color--danger-opposite: var(--color-gray-98);
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
