html {
  background-color: var(--color-background);

  font-family: Vazirmatn, sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(334deg 83% 51%);
  --color-background: hsl(313deg 3% 3%);
  --color-background-light: hsl(0deg 0% 16%);
  --color-gray-text: hsl(0deg 0% 96%);
  --color-gray-25: hsla(313deg 2% 50% /25%);
  --color-dark-25: hsla(313deg 2% 2% /33%);
  --color-green: hsl(140deg 86% 52%);
  --color-border: hsl(0deg 0% 5%);

  --margin-main-sides: 4rem;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
